// Place all the styles related to the creature controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	text-align: center;
}

p {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.buttons {
	text-align: center;
}

.name-edit {
	text-align: center;
	margin: 10px;
}

.descrip-edit {
	text-align: center;
	margin: 10px;
	margin-top: 15px;
	vertical-align: text-middle;
}

.submit {
	text-align: center;
}


/*.center {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column wrap;
}*/